# Node modules (will be reinstalled in the image)
node_modules
.next

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Local development files
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Editor/IDE
.vscode
.idea
*.swp
